            <nav class="nav-bar">
                <ul>
                    <li>
                        <a href = "{{ url_for('auth.index')}}">
                            Home Page</a>
                    </li>
                    <li>
                        <a href = "{{ url_for('tickets.createticket') }}">
                            Submit Help Request</a>
                    </li>
                    <li><a href="{{ url_for('tickets.livequeue') }}">
                            Live Queue</a>
                    </li>
                    <li><a href="{{ url_for('auth.assistant_login') }}">Wormhole Assistants</a></li>
                </ul>
            </nav>