<nav id="main-nav">
    <ul>
        <li>
            <a href="{{ url_for('tickets.createticket') }}">
                <i class="fa-solid fa-bolt"></i>
                Submit a Help Request
            </a>
        </li>

        <li>
            <a href="{{ url_for('tickets.livequeue') }}">
                <i class="fa-solid fa-users"></i>
                Live Queue
            </a>
        </li>

        <li>
            <a href="{{ url_for('auth.assistant_login') }}">
                <i class="fa-solid fa-gear"></i>
                Wormhole Assistants
            </a>
        </li>

        <li>
            <a href="https://oregonstate.zoom.us/j/95601298258">
                <i class="fa-solid fa-video"></i>
                Zoom Meeting
            </a>
        </li>

        <li><a href="https://teams.microsoft.com/l/team/19%3APpRY4AEqZdtH64xvUccyQZUEtPyXkb98oJB3Mvxjtzk1%40thread.tacv2/conversations?groupId=8aef2617-21c6-493e-8ae5-42e11a9c9875&tenantId=ce6d05e1-3c5e-4d62-87a8-4c4a2713c113">
            <i class="fa-brands fa-microsoft"></i>
                Microsoft Teams
            </a>
        </li>
    </ul>
</nav>
