
* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}
.section {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-content: center;
    border: dashed;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px 50px;
}
.header{
    width: 100%;
    min-height: 180px;
    justify-content: center;
    align-content: center;
    border: dashed;
    border-color: #000000;
    border-width: 2px;
    border-radius: 10px;
    background: #000000;
    height: auto;
}
.navbar{
    width:100%;
    background-color:#000000;
    overflow:auto;
}
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    font-size: 17 px;
    width: 33.33%;
    text-align: center;
    text-decoration: none;
}
.message{
    max-width: 960px;
    justify-content: center;
    align-content: center;
    border: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 10px;
    background: #FFFFFF;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}
.message ul{
    list-style-type: none;
}
.dropdown{
    float: left;
    overflow:hidden;
    text-align:center;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align:center;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    /*float: none;*/
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    font-size: 17 px;
    width: 33.33%;
}
.page{
    display: flex;
    flex-wrap: wrap;
}
.student-home {
    background: #FFFFFF;
}
.ta-home {
    background-color: #BBA0CA;
}
.create-ticket {
    background: #FFFFFF;
    padding: 10px;
    height: 300px;
}
.live-queue{
    background:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 25px;
    height: auto;
    max-width: 961px;
    border-radius: 50px;
}
.refresh{
    background: #002147;
    height: 80px;
    border: dashed;
    border-color: #002147;
    border-width: 2px;
    max-width: 961px;
}
.Tickets{
    background: #FFFFFF;
    border-radius: 15px;
    height: auto;
    min-height: 350px;
    text-indent: 10px;
}
.Generic{
    background: #FFFFFF;
    border-radius: 15px;
    height: auto;
    min-height: 350px;
    text-indent: 10px;
    padding: 15px;
}
.Wormhole-Content {
  padding: 25px;
  margin-top: 30px;
  border: dashed 2px #000;
  border-radius: 20px;
}
.subsection {
  margin-bottom: 25px;
}

.subsection:last-child {
  margin-bottom: 0;
}
.profile{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 15px;
    height: auto;
}
.tick_info{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 0px;
    height: 370px;
    text-indent: 20px;
    max-width: 400px;
    margin:auto;
}
.tick_info p{
    padding-top: 1.5cm;
}
.tick_resol{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 0px;
    height: 370px;
    text-indent: 20px;
    max-width: 400px;
    margin:auto;
}
.old-ticket{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 50px;
    height: auto;
}
.container{
    display:table;
    width:100%;
}
.open{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 5px;
    text-indent: 20px;
    width:100%;
    margin:auto;
    display: table-cell;
}
.current{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 5px;
    text-indent: 20px;
    margin:auto;
    width:100%;
    display: table-cell;
}
.closed{
    background: #BBA0CA;
    height: auto;
    min-height: 250px;
    border-radius: 5 px;
    text-indent: 20px;
    margin:auto;
    width:100%;
}
.dropdown-content a:hover {background-color:f1f1f1}
.dropdown:hover .dropdown-content{
    display: block;
}


/* Mobile Styles */
@media only screen and (max-width:400px) {
  body {
    background-color: #002147;
  }
  .col {
      display: block;
      width:100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width:401px) and (max-width: 960px) {
  body {
    background-color: #002147;
  }
}

/* Desktop Styles */
@media only screen and (min-width:961px) {
  body {
    background-color: #002147;
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .student-home,
  .ta-home {width:50%;
  }
  .tick_info,
  .tick_resol {width:50%;
  }
  .Tickets,
  .profile {width:50%;
  }
  .open,
  .current {width:50%;
  }   
  /*.live-queue{width:900px
  }*/

}
