<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class='page'>
    <div class='section create-ticket'>
        <h2 style="text-align:center">Sign In</h2>
        <form align="center" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p style="text-align:center">
            {{ form.username.label }}  {{ form.username(size=32) }}<br>
            {% for er in form.username.errors %}
                <span style="color: red;">[{{ er }}]</span>
            {% endfor %}
        </p>
        <p style="text-align:center">
            {{ form.password.label }}  {{ form.password(size=32) }}<br>
            {% for er in form.password.errors %}
                <span style="color: red;">[{{ er }}]</span>
            {% endfor %}
        </p>
        <p style="text-align:center">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p style="text-align:center">
            {{ form.submit() }}
        </p>
        </form>
        <p><a href="{{ url_for('reset_password_request') }}">Reset Password</a></p>
    </div>
</div>
{% endblock %}
