<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queue</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class="page">
    <div class="container">
        <div class="section open">
            <h1>Open Queue</h1>
            <ul>
                {% for tk in ol %}
                    <li><a href="{{ url_for('pastticket', username=user.username, tktid=tk.id, next=url_for('queue')) }}">{{ tk.info_open_print() }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{{ url_for('flush') }}">Click me to flush queue</a></p>
        </div>
        <div class="section current">    
            <h1>Current Queue</h1>
            <ul>
                {% for tk in cul %}
                    <!--<li><a href="{{ url_for('pastticket', username=user.username, tktid=tk.id, next=url_for('queue')) }}">{{ tk.info_curr_print() }}</a></li>-->
                    <li><a>{{ tk.info_curr_print() }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="section closed">    
        <h1>Closed Queue</h1>
        <p align="center"><a href="{{ url_for('anonymize') }}">Click me to anonymize closed tickets</a></p>
        <ul>
            {% for tk in cll %}
                <li><a href="{{ url_for('pastticket', username=user.username, tktid=tk.id, next=url_for('queue')) }}">{{ tk.info_closed_print() }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
