<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>

{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery/jquery-4.3.1.js') }}"></script>
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>-->
    <script src="{{ url_for('static', filename='socketio/socket.io.js') }}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
    <script src="{{ url_for('static', filename='js/userpage.js') }}"></script>
{% endblock %}


{% block content %}
<div class="page">
    <div class="section Tickets">
        <h2 style="text-align:center">Tickets (<span id='queue_length'></span>)</h2>
        
        {% if user.tkt == None %}
        <h4 style="text-align:center"><a href="{{ url_for('getnewticket', username=user.username) }}">Get Next Request</a></h4>
        {% else %}
        <h4 style="text-align:center"><a href="{{ url_for('currentticket', username=user.username) }}">Check Current Request</a></h2>
        {% endif %}
        <!--<h2><a>Check Closed Requests</a></h2>-->
        <h3>Recently Archived Tickets</h3>
        <ul>
        {% for ass in user.all_tkt_assoc_sorted() %}
            {% if ass.tkt.TA == None %}
                <li><a href="{{ url_for('pastticket', username=ass.TA.username, tktid=ass.tkt.id) }}">{{ ass.tkt.info_print() }}</a></li>
            {% else %}
                <li><a>{{ ass.tkt.info_print() }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        <p style="text-algin:center">Last Refresh Time: <span id="refresh_time"></span></p>
    </div>
    <div class="section profile">    
        <h2 style="text-align:center">Profile</h2>
        <!-- Base profile atributes -->
        <p style="margin:10px">
            <b>Username: </b>{{ user.username }}<br>
            <b>Email: </b>{{ user.email }} <br>
            <b>Adminstrator: </b>{{ user.is_admin }} <br>
        {% if current_user.username==user.username or current_user.is_admin %}
            <a href="{{ url_for('changepass') }}">Change Password</a>
        {% endif %}
        </p>
        {% if current_user.is_admin %}
            <h3 style="text-align:center">Admin Utilities</h3>
            <p style="margin:10px"><a href="{{ url_for('register') }}">Register New User</a></p>
            <!--<p><a href="{{ url_for('changepass') }}">Change User Password</a></p>-->
            <p style="margin:10px"><a href="{{ url_for('queue') }}">Queue</a></p>
            <p style="margin:10px"><a href="{{ url_for('archive') }}">Archive</a></p>
	    <p style="margin:10px"><a href="{{ url_for('register_batch') }}">Register Users in Batch</a></p>
            <p style="margin:10px"><a href="{{ url_for('user_list') }}">TA/LA List</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
