{% extends "base.html" %}


{% block content %}
<div class="page"><div class="section Generic">
    <br />
    <h2>Ticket Archive</h2>
    
    <p><table style="display:inline-block;">
        <tr><th>Ticket Data</th></tr>
        {% for tn in tkt_list %}
            <tr><td><a href="{{ url_for('protected', filename= 'tickets/'+tn) }}">{{ tn }}</a></td></tr>
        {% endfor %}
    </table>
    <table style="display:inline-block;">
        <tr><th>Association Data</th></tr>
        {% for an in assoc_list %}
            <tr><td><a href="{{ url_for('protected', filename= 'associations/'+an) }}">{{ an }}</a></td></tr>
        {% endfor %}
    </table></p>
</div></div>

{% endblock %}
