{% extends "base.html" %}
{% from "macros.html" import render_field, card, btn %}
{% block content %}
    {% call card("Change Password", "Update your account password.", "mx-auto max-w-md") %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.old_password) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password2) }}
            {{ btn("Change Password", extra="w-full") }}
        </form>
    {% endcall %}
{% endblock %}
