{% extends "base.html" %}
{% from "macros.html" import render_field, card, btn %}

{% block content %}
  {% call card("Create Help Request", "Submit a ticket to join the Wormhole queue.", "mx-auto max-w-xl") %}
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      {{ render_field(form.name) }}
      {{ render_field(form.phClass) }}
      {{ render_field(form.location) }}

      {{ btn("Submit Help Request", extra="w-full") }}
    </form>
  {% endcall %}
{% endblock %}