{% extends "base.html" %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJ+YRFb2v3l+6Gk5bQ5f5Q5h5Yt1lV9l8a5Qg="
            crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/currentticket.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="page">
        <div class="section tick-info">
            <h3 style="text-align:center">
                Current Help Request
            </h3>
            <table id="tickets"
                   style="margin-left:30px;
                          width: 75%;
                          text-align: left;
                          border-collapse:separate;
                          border-spacing:10px">
                <tr>
                    <th>
                        Name: <b>{{ ticket.name }}</b>
                    </th>
                </tr>
                <tr>
                    {% if ticket.table == 0 %}
                        <th>
                            Table: <b>Ecampus</b>
                        </th>
                    {% else %}
                        <th>
                            Table: <b>{{ ticket.table }}</b>
                        </th>
                    {% endif %}
                </tr>
                <tr>
                    <th>
                        Class: <b>{{ ticket.phClass }}</b>
                    </th>
                </tr>
            </table>
            <p style="text-align:center; vertical-align:bottom;">
                Time Stamp: <b>{{ ticket.time_create.strftime("%b %d %H:%M:%S") }}</b>
            </p>
        </div>
        <div class="section tick-resol">
            <h3 style="text-align:center">
                Resolve As:
            </h3>
            <form id="resolve-form"
                action="{{ url_for('tickets.resolve_ticket', ticket_id=ticket.id) }}"
                method="post"
                novalidate
                style="text-align:center;">
                <button type="submit" name="resolve" value="duplicate">Duplicate</button>
                <button type="submit" name="resolve" value="helped">Helped</button>
                <button type="submit" name="resolve" value="no_show">No Show</button>
                <button type="submit" name="resolve" value="return_to_queue">Return To Queue</button>
            </form>
        </div>
    </div>
{% endblock %}
