{% extends "base.html" %}
{% block scripts %}
    <script src="{{ url_for('static', filename='vendor/socket.io/4.6.1/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/currentticket.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="page">
        <div class="section tick-info">
            <h3 class="text-center">
                Current Help Request
            </h3>
            <table id="tickets" class="current-ticket-table">
                <tr>
                    <th>
                        Name: <b>{{ ticket.name }}</b>
                    </th>
                </tr>
                <tr>
                    {% if ticket.table == 0 %}
                        <th>
                            Table: <b>Ecampus</b>
                        </th>
                    {% else %}
                        <th>
                            Table: <b>{{ ticket.table }}</b>
                        </th>
                    {% endif %}
                </tr>
                <tr>
                    <th>
                        Class: <b>{{ ticket.phClass }}</b>
                    </th>
                </tr>
            </table>
            <p class="current-ticket-timestamp">
                Time Stamp: <b>{{ ticket.time_create.strftime("%b %d %H:%M:%S") }}</b>
            </p>
        </div>
        <div class="section tick-resol">
            <h3 class="text-center">
                Resolve As:
            </h3>
            <form id="resolve-form"
                  action="{{ url_for('tickets.resolve_ticket', ticket_id=ticket.id) }}"
                  method="post"
                  novalidate
                  class="text-center-form">
                <button type="submit" name="resolve" value="duplicate">
                    Duplicate
                </button>
                <button type="submit" name="resolve" value="helped">
                    Helped
                </button>
                <button type="submit" name="resolve" value="no_show">
                    No Show
                </button>
                <button type="submit" name="resolve" value="return_to_queue">
                    Return To Queue
                </button>
                <button type="sumbit" name="resolve" value="skip">
                    Skip This Ticket
                </button>
            </form>
        </div>
    </div>
{% endblock %}
