{% extends "base.html" %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJ+YRFb2v3l+6Gk5bQ5f5Q5h5Yt1lV9l8a5Qg="
          crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/currentticket.js') }}"></script>
{% endblock %}
{% block content %}
  <div class="page">
    <div class="section tick-info">
      <h3 style="text-align:center">
        Current Help Request
      </h3>
      <table id="tickets"
             style="margin-left:30px;
                    width: 75%;
                    text-align: left;
                    border-collapse:separate;
                    border-spacing:10px">
        <tr>
          <th>
            Name: <b>{{ ticket.name }}</b>
          </th>
        </tr>
        <tr>
          {% if ticket.table == 0 %}
            <th>
              Table: <b>Ecampus</b>
            </th>
          {% else %}
            <th>
              Table: <b>{{ ticket.table }}</b>
            </th>
          {% endif %}
        </tr>
        <tr>
          <th>
            Class: <b>{{ ticket.phClass }}</b>
          </th>
        </tr>
      </table>
      <p style="text-align:center; vertical-align:bottom;">
        Time Stamp: <b>{{ ticket.time_create.strftime("%b %d %H:%M:%S") }}</b>
      </p>
    </div>
    <div class="section tick-resol">
      <h3 style="text-align:center">
        Resolve As:
      </h3>
      <form id="resolve-form"
            action="/api/resolveticket/{{ ticket.id }}"
            method="post"
            novalidate>
        {{ form.hidden_tag() }}
        {{ form.numStds.label }} {{ form.numStds(size=4) }}
        <br>
        {% for er in form.numStds.errors %}
          <span style="color:red;">[{{ er }}]</span>
        {% endfor %}
        <table id="tickets"
               style="margin-left:15px;
                      width: 100%;
                      text-align: left;
                      border-collapse:separate;
                      border-spacing:30px">
          <tr>
            <td>
              {{ form.resolveReason.label }} {{ form.resolveReason() }}
              <br>
              {% for er in form.resolveReason.errors %}
                <span style="color:red;">[{{ er }}]</span>
              {% endfor %}
              {{ form.submit() }}
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
