{% extends "base.html" %}
{% block content %}
    <div class="page">
        <div class="section live-queue">
            <h2>
                Hardware List
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Battery Status
                        </th>
                        <th>
                            Last Update
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for box in boxes %}
                        {% if box.Box_Name != 'Tyson' %}
                            <tr>
                                <td>
                                    {{ box.Box_Name }}
                                </td>
                                {% if box.Battery_Status == 'Green' %}
                                    <td>
                                        <span class="status-cell status-green">{{ box.Battery_Status }}</span>
                                    </td>
                                {% elif box.Battery_Status == 'Yellow' %}
                                    <td>
                                        <span class="status-cell status-yellow">{{ box.Battery_Status }}</span>
                                    </td>
                                {% elif box.Battery_Status == 'Orange' %}
                                    <td>
                                        <span class="status-cell status-orange">{{ box.Battery_Status }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span class="status-cell status-red">{{ box.Battery_Status }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ box.update_time }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <p class="refresh-note">
                Last API post: {{ update_time }}
            </p>
            <h4>
                Legend
            </h4>
            <table>
                <thead>
                    <tr>
                        <th>
                            <span class="status-cell status-green">Good Battery Life</span>
                        </th>
                        <th>
                            <span class="status-cell status-yellow">Mid Battery Life</span>
                        </th>
                        <th>
                            <span class="status-cell status-orange">Charge Battery</span>
                        </th>
                        <th>
                            <span class="status-cell status-red">Offline</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
