{% extends "base.html" %}
{% block content %}
    <div class="page">
        <div class="section live-queue">
            <br>
            <h2 class="text-center">
                Hardware List
            </h2>
            <table class="hardware-table">
                <tr class="hardware-header-row">
                    <th>
                        Name
                    </th>
                    <th>
                        Battery Status
                    </th>
                    <th>
                        Last Update
                    </th>
                </tr>
                {% for box in boxes %}
                    {% if box.Battery_Status == 'Green' and box.Box_Name != 'Tyson' %}
                        <tr>
                            <td class="hardware-cell">
                                {{ box.Box_Name }}
                            </td>
                            <td class="hardware-cell battery-green">
                                {{ box.Battery_Status }}
                            </td>
                            <td class="hardware-cell">
                                {{ box.update_time }}
                            </td>
                        </tr>
                    {% elif box.Battery_Status == 'Yellow' and box.Box_Name != 'Tyson' %}
                        <tr>
                            <td class="hardware-cell">
                                {{ box.Box_Name }}
                            </td>
                            <td class="hardware-cell battery-yellow">
                                {{ box.Battery_Status }}
                            </td>
                            <td class="hardware-cell">
                                {{ box.update_time }}
                            </td>
                        </tr>
                    {% elif box.Battery_Status == 'Orange' and box.Box_Name != 'Tyson' %}
                        <tr>
                            <td class="hardware-cell">
                                {{ box.Box_Name }}
                            </td>
                            <td class="hardware-cell battery-orange">
                                {{ box.Battery_Status }}
                            </td>
                            <td class="hardware-cell">
                                {{ box.update_time }}
                            </td>
                        </tr>
                    {% elif box.Box_Name != 'Tyson' %}
                        <tr class="battery-red-row">
                            <td class="hardware-cell">
                                {{ box.Box_Name }}
                            </td>
                            <td class="hardware-cell">
                                {{ box.Battery_Status }}
                            </td>
                            <td class="hardware-cell">
                                {{ box.update_time }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <br>
            <h4 class="text-center">
                Last API post: {{ update_time }}
            </h4>
            <br>
            <h4 class="text-center">
                Legend
            </h4>
            <table class="hardware-table hardware-legend-table">
                <tr class="hardware-header-row">
                    <th class="battery-green">
                        Good Battery Life
                    </th>
                    <th class="battery-yellow">
                        Mid Battery Life
                    </th>
                    <th class="battery-orange">
                        Charge Battery
                    </th>
                    <th class="battery-red">
                        Offline
                    </th>
                </tr>
            </table>
            <br>
        </div>
    </div>
{% endblock %}
