{% extends "base.html" %}
{% block content %}
    <div class="page">
        <h1 style="text-align:center;">
            Physics Collaboration and Help Center
        </h1>
        <!-- STUDENT SECTION -->
        <div class="section student-home">
            <h2 style="text-align:center;">
                For Students
            </h2>
            <p style="text-align:center;">
                <a href="{{ url_for('views.create_ticket_page') }}">Submit a Help Request</a>
            </p>
            <p style="text-align:center;">
                <a href="https://oregonstate.zoom.us/j/95601298258">Join Zoom Meeting</a>
                (password: <strong>Wormhole</strong>)
            </p>
            <p style="text-align:center;">
                <a href="https://teams.microsoft.com/l/team/19%3APpRY4AEqZdtH64xvUccyQZUEtPyXkb98oJB3Mvxjtzk1%40thread.tacv2/conversations?groupId=8aef2617-21c6-493e-8ae5-42e11a9c9875&tenantId=ce6d05e1-3c5e-4d62-87a8-4c4a2713c113">
                    Join Microsoft Teams
                </a>
            </p>
        </div>
        <!-- ASSISTANT SECTION -->
        <div class="section ta-home">
            <h2 style="text-align:center;">
                For Wormhole Assistants
            </h2>
            {% if current_user.is_anonymous %}
                <p style="text-align:center;">
                    <a href="{{ url_for('views.assistant_login') }}">Log In</a>
                </p>
            {% else %}
                <p style="text-align:center;">
                    <a href="{{ url_for('views.userpage', username=current_user.username) }}">Profile</a>
                </p>
            {% endif %}
        </div>
        <div class = "section generic wormhole-content">
            <!-- WORMHOLE SCHEDULE -->
            <div class="subsection Wormhole-Schedule">
                <h3 class="center-align">
                    Wormhole Schedule
                </h3>
                <p class="center-align">
                    <strong>The Wormhole is open for Winter 2026!</strong>
                </p>
                <p class="center-align">
                    Wormhole Assistants are available <strong>9 AM – 5 PM, Monday–Friday</strong>.
                </p>
                <p class="center-align">
                    <em>The Wormhole closes at 4 PM on Mondays for departmental colloquia.</em>
                </p>
                <h4 class="center-align">
                    Holiday Closures
                </h4>
                <ul class="browser-default">
                    <li>
                        <em>Martin Luther King Jr. Day</em> — Monday, January 19
                    </li>
                </ul>
                <p class="center-align">
                    To request help (remote or in-person), click
                    <strong>“Submit a Help Request”</strong> above.
                </p>
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRcotW2LQyMMUHgBjvig-ZcHnybkT4_0XfiHDp-IVeqkX7VGh4vtrXBuHmDfTAVHdmHM2jcHInYuwOn/pubhtml?widget=true&headers=false"
                        width="100%"
                        height="600"
                        style="border:none">
                </iframe>
            </div>
            <!-- ABOUT -->
            <div class="subsection About">
                <h4>
                    About The Wormhole
                </h4>
                <p>
                    The Wormhole (Valley Library and Remote) is a Physics Collaboration and Help Center.
                    It is an informal space to work on physics with peers under the guidance of experienced Assistants.
                    Complete instructions are available in
                    <a href="{{ url_for('static', filename='files/Wormhole student instructions.pdf') }}">Wormhole Instructions</a>.
                </p>
                <p>
                    If you or your group needs help with a physics question, send a request to the queue.
                    In person, use the box on your table. Online, use the Submit link at the top of this page.
                    Only one person in the group needs to enter the request, and only one time for each
                    question, please. You can see your place in the help queue using the Live Queue link at
                    the top of the page. Multiple requests for a question won’t get you help any faster, and
                    it slows down the process for everyone.
                </p>
            </div>
            <!-- ASSISTANTS -->
            <div class="subsection Assistants">
                <h4>
                    Wormhole Assistants
                </h4>
                <p>
                    Wormhole assistants are graduate students in physics, physics majors, or other
                    undergraduates who took one of the introductory physics sequences. They all have
                    a level of expertise in physics, but they’re not experts on your course. When
                    asking questions, be prepared to show them the problem you’re working on. They’ll
                    do their best to answer it but may ultimately refer you to another Wormhole Assistant
                    or to your course instructor. If your question is course related (e.g. How do we
                    use the analysis app in lab?) you should look for a Wormhole Assistant affiliated
                    with your course, as shown in the schedule.
                </p>
            </div>
            <!-- VIRTUAL WORMHOLE -->
            <div class="subsection Virtual-Wormhole">
                <h4>
                    Virtual Wormhole
                </h4>
                <p>
                    The Virtual Wormhole allows you to request help remotely. You can get help through
                    two different methods:
                </p>
                <ol class="browser-default">
                    <li>
                        Connect to the Virtual Wormhole channel in the Introductory Physics MS Team.
                        (Full instructions for joining the Team are in
                        (<a href="{{ url_for('static', filename='files/MS Teams instructions.pdf') }}">MS Teams Instructions</a>.)
                    </li>
                    <li>
                        Join the Wormhole Zoom session
                        <a href="https://oregonstate.zoom.us/j/95601298258">here</a>
                        (password: <strong>Wormhole</strong>)
                    </li>
                </ol>
            </div>
            <!-- REQUESTING ASSISTANCE -->
            <div class="subsection Requesting-Assistance">
                <h4>
                    Requesting Assistance
                </h4>
                <p>
                    In the Wormhole use the box on your table. Simply push the button for your course
                    to be put in the queue. In the Virtual Wormhole enter a request at
                    <a href="https://wormhole.physics.oregonstate.edu/createticket">
                        wormhole.physics.oregonstate.edu/createticket
                    </a>.
                    An Assistant will respond to your request as soon as your turn comes up in the
                    queue. Help is provided in the order requests are received. You can check the
                    status of your request at
                    <a href="https://wormhole.physics.oregonstate.edu/livequeue">
                        wormhole.physics.oregonstate.edu/livequeue
                    </a>.
                </p>
            </div>
            <!-- CODE OF CONDUCT -->
            <div class="subsection Conduct">
                <h4>
                    Code of Conduct
                </h4>
                <p>
                    The Wormhole is an informal space for physics collaboration. It works best when we accord
                    each other common courtesy.
                </p>
                <ul class="browser-default">
                    <li>
                        Be respectful of other students.
                    </li>
                    <li>
                        Respect others' personal and work spaces.
                    </li>
                    <li>
                        Be conscious of aromas.
                    </li>
                    <li>
                        Be aware of your speech.
                    </li>
                    <li>
                        Respect those who will use the space next.
                    </li>
                    <li>
                        Be mindful of the learning environment.
                    </li>
                    <li>
                        Be respectful of the Assistants.
                    </li>
                    <li>
                        Be patient - the Assistants will help as many people as possible.
                    </li>
                    <li>
                        Remember that Assistants assist. They are there to help you learn, not to do the problem
                        or tell you the answer.
                    </li>
                    <li>
                        Assistants will try to help everyone, but be patient when they aren't familiar with the
                        problem in your course.
                    </li>
                    <li>
                        The wormhole gets crowded. If you're not working on physics, please give up your space
                        to those who are.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
