{% extends "base.html" %}

{% block content %}
<div class="page">
    <h1 style="text-align:center">Physics Collaboration and Help Center</h1>
    <div class="section student-home">
        <br/>
        <h2 style="text-align:center">For Students</h2>
        <p style="text-align:center"><a href="{{ url_for('views.create_ticket_page') }}">Submit a Help Request</a></p>
    </div>
    <div class="section ta-home">
        <br/>
        <h2 style="text-align:center">For Teaching Assistants</h2>
        {% if current_user.is_anonymous %}
            <p style="text-align:center"><a href="{{ url_for('views.assistant_login') }}">Log In</a></p>
        {% else %}
            <p style="text-align:center"><a href="{{ url_for('views.userpage', username=current_user.username) }}">Profile</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
