{% extends "base.html" %}

{% block content %}
<div class="page"><div class="section Generic">
    <h1>New User Registration</h1>
    <form action="{{ url_for('users.users_add')}}" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for er in form.name.errors %}
            <span style="color: red;">[{{ er }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for er in form.username.errors %}
            <span style="color: red;">[{{ er }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for er in form.email.errors %}
            <span style="color: red;">[{{ er }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for er in form.password.errors %}
            <span style="color: red;">[{{ er }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for er in form.password2.errors %}
            <span style="color: red;">[{{ er }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.is_admin() }} {{ form.is_admin.label }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
    </form>
</div></div>
{% endblock %}
